cachix use kirinnee-sample-binary-cache
nix_direnv_watch_file ./env/env.nix
nix_direnv_watch_file ./env/packages.nix
nix_direnv_watch_file ./env/shells.nix
use nix
pre-commit install --install-hooks
pre-commit install -t commit-msg
